<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net452" />
  <package id="Microsoft.Net.Http" version="2.0.20710.0" targetFramework="net452" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net452" />
  <package id="Ninject" version="3.3.4" targetFramework="net452" />
  <package id="Ninject.Web.Common" version="3.3.0" targetFramework="net452" />
  <package id="Ninject.Web.Common.WebHost" version="3.3.0" targetFramework="net452" />
  <package id="Ninject.Web.WebApi" version="3.3.0" targetFramework="net452" />
  <package id="Ninject.Web.WebApi.WebHost" version="3.3.0" targetFramework="net452" />
  <package id="Oracle.ManagedDataAccess" version="12.2.1100" targetFramework="net452" />
  <package id="Oracle.ManagedDataAccess.EntityFramework" version="12.2.1100" targetFramework="net452" />
  <package id="Prodesp.Core.Backend.Application" version="2.0.0.1" targetFramework="net452" />
  <package id="Prodesp.Core.Backend.Application.WebApi" version="2.0.0.2" targetFramework="net452" />
  <package id="Prodesp.Core.Backend.Domain" version="2.0.0.1" targetFramework="net452" />
  <package id="Prodesp.Core.Backend.Infrastructure.Data.EF" version="2.0.0.4" targetFramework="net452" />
  <package id="Prodesp.Core.Backend.CrossCutting.IoC" version="2.0.0.2" targetFramework="net452" />
  <package id="Prodesp.Gsnet.Core.Presentation" version="2.0.0.10" targetFramework="net452" />
  <package id="Prodesp.Gsnet.Core.Presentation.Proxy" version="2.0.0.11" targetFramework="net452" />
  <package id="Prodesp.Gsnet.Core.Svc" version="2.0.0.9" targetFramework="net452" />
  <package id="Prodesp.Gsnet.Core.TO" version="2.0.2" targetFramework="net452" />
  <package id="Prodesp.Gsnet.Framework" version="2.0.0.16" targetFramework="net452" />
  <package id="Prodesp.Gsnet.Framework.Log" version="2.0.0.1" targetFramework="net452" />
  <package id="Prodesp.Gsnet.Framework.Web" version="2.0.0.1" targetFramework="net452" />
  <package id="Prodesp.Gsnet.Rbac20.Framework.Extension" version="2.0.0.6" targetFramework="net452" />
  <package id="Prodesp.Gsnet.Rbac20.Presentation.Proxy" version="2.0.0.70" targetFramework="net452" />
  <package id="Prodesp.Gsnet.Rbac20.Svc.Extension" version="2.0.0.6" targetFramework="net452" />
  <package id="Prodesp.Gsnet.Rbac20.TO" version="2.0.0.43" targetFramework="net452" />
  <package id="Prodesp.Gsnet.Rbac20.WebAPI" version="2.0.0.4" targetFramework="net452" />
  <package id="RestSharp" version="105.0.1" targetFramework="net452" />
  <package id="SwaggerWcf" version="0.1.15" targetFramework="net452" />
  <package id="Swashbuckle" version="5.6.0" targetFramework="net452" />
  <package id="Swashbuckle.Core" version="5.6.0" targetFramework="net452" />
  <package id="WebActivatorEx" version="2.0" targetFramework="net452" />
</packages>