<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors mode="RemoteOnly" xdt:Transform="Replace" />
  </system.web>

  <connectionStrings xdt:Transform="Replace">
    <add name="[DATABASE].Connection" connectionString="[CONNENCRYPTED]" providerName="[PROVIDER]" />
  </connectionStrings>

  <appSettings xdt:Transform="Replace">
    <add key="API.[NAMESPACEUPPER].SCHEMA" value="[SCHEMA]" />
    <add key="ConnectionStrings.[DATABASE]" value="[DATABASE].Connection" />
    <add key="Url.Rbac" value="[LINKRBACHOM]" />
    <!-- LOG -->
    <add key="Log.Enabled" value="true" />
    <add key="Log.Type" value="File,Debugger" />
    <add key="Log.File.Path" value="{BaseDirectory}\Log\" />
  </appSettings>
</configuration>