<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Local" value="http://10.8.1.32/Prodesp.Gsnet.Packages.Local/nuget" />
	<add key="Prodesp" value="http://10.8.1.32/Prodesp.Gsnet.Packages.Prodesp/nuget" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
</configuration>