<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Prodesp.Gsnet.Core.Presentation" version="2.0.0.10" targetFramework="net452" />
  <package id="Prodesp.Gsnet.Core.Presentation.Proxy" version="2.0.0.11" targetFramework="net452" />
  <package id="Prodesp.Gsnet.Core.TO" version="2.0.2" targetFramework="net452" />
  <package id="Prodesp.Gsnet.Framework" version="2.0.0.16" targetFramework="net452" />
  <package id="Prodesp.Gsnet.Framework.Log" version="2.0.0.1" targetFramework="net452" />
  <package id="RestSharp" version="105.0.1" targetFramework="net452" />
</packages>